.questionBox {
    width: 100%; height: fit-content;
    padding: 10px; margin-left: 10px;
}
.question {
    display: flex;
    margin-bottom: 5px;
}
.optionBox {
    display: flex;
    width: 100%; height: fit-content;
    padding: 7px 21px; margin: 3px 0;
    font-size: 16px;
    border-radius: 2px;
    
}
.optionBox:hover {
    background-color: whitesmoke;
}
.optionInput {
    margin: 1px 20px 0 0;
    accent-color: green;
}
