.choiceBox {
    /* display: flex; */
    width: 300px; height: fit-content;
    padding: 10px; margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}
.legendChoicebox {
    background-color: #FFF;
    margin-left: 10px;
    padding: 2px 20px;
    box-shadow: 0 3px 5px grey;
}

.optionBox {
    display: flex;
    width: 100%; height: fit-content;
    padding: 7px 14px;
}
.optionInput {
    margin: 3px 20px 0 0;
}