.navbar {
  width: 300px;
  height: calc(100vh - 60px);
  
align-items: flex-start
}
.navbar-container {
  width: 100%;
  margin: 0 12px;
}
.navbar-container a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  
}
.navbar-container a:hover{
    background-color: aqua;
}
.navbar{
  align-items: flex-start;
}