.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {flex-direction: column}
a {
    color: black;
    text-decoration: none;
}

aside {
    min-width: 200px;
    background-color: aliceblue;
    box-shadow: 3px 0 5px rgb(120, 163, 177);
}
.Logo {
    margin: 30px 0;
    animation: Logo-spin infinite 20s linear;
}
@keyframes Logo-spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}

label[for=countdown-timer], #box-link {
    width: 100px;
    min-width: 180px;
    padding: 8px 0;
    border: none;
    box-shadow: 0 0 3px rgb(169, 93, 93);
    margin: 0 10px;
}
label[for=countdown-timer] {
    margin: 0 0 -1px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#box-link {
    flex-wrap: wrap;
    width: 180px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.box-link-question {
    font-size: 12px;
    height: 20px; width: 20px;
    margin: 5px;
    border: 1px solid gray;
}

main {width: 100%}
.box-question {
    width: 70%;
    padding: 10px; margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}
legend {
    background-color: #FFF;
    margin-left: 10px;
    padding: 2px 20px;
    box-shadow: 0 3px 5px grey;
}
.box-option {
    align-items: start;
    margin: 5px 20px;
    border: none;
    border-top: inherit;
}