.login {
  margin-top: 30px;
  font-size: 16px;
}
.login-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.65rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 0 0 rgba(143, 156, 173, 0.2);
}
.login-content {
  margin: 20px 16px;
}
.login-title {
  text-align: left;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.form-group input {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  border: 1px solid #e0e0e0;
  width: calc(100% - 16px);
}
.login-btn {
  margin: 16px 0;
}
.login-btn > button {
  font-weight: 600;
  padding: 8px;
  background-color: blueviolet;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}
.login-footer {
  text-align: left;
}
.login-footer a{
    text-decoration: none;

}
