.questionBox {
    width: 100%; height: fit-content;
    padding: 10px; margin-left: 10px;
    word-break: break-word;
    line-height: 19px;
}
.question {
    display: flex;
    margin-bottom: 10px;
}
.indexs {
    min-width: 23px;
}
.inputText {
    resize: none;
    width: 100%;
    height: fit-content;
    border: none;
    outline: none;
    line-height: 19px;
    box-shadow: -2px 2px 3px grey;
    background-color: whitesmoke;
    padding: 0 10px 0 10px;
    margin: 0 0 -1px 0;
}