.userForm {
    padding: 20px 20px 50px 20px;
    width: 100%; height: fit-content;
    min-height: 100vh;
    box-shadow: 0 -10px 10px grey;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    justify-content: space-around;
    width: 100%; height: fit-content;
    padding: 5px 0;
    border-top: 1px solid lightgray;
    box-shadow: 0 -1px 1px lightgray;
    background: linear-gradient(20deg, 
                rgb(205, 205, 205) 0%,
                rgb(230, 230, 230) 20%, 
                rgb(255, 255, 255) 78%);
}
.shift > * {
    margin: 10px;
}
.footer button {
    font-size: 17px;
    padding: 3px 10px;
    border-radius: 7px;
}